.custom-input
{
    color:white !important;
    background-color: black;
    border-top: 0cap;
    border-right: 0;
    border-left: 0;
    width: 350px;
    
}
.background{
    background-image: url('./Frame\ 2390.png');
    height: 641px;
    /* width: 100%; */
    background-size: cover;
}

.overlay-text {
    font-size: 36px;
  top: 40%;
  left: 15%;
  color: white;
  font-family: SF Pro;
  font-weight: 400;
  size: 80px;
}
.overlay-text h4{ 
  margin: 0;
   top: 10%;
  left: 5%;
   font-size: 80px;
}
.overlay-text p{
      margin: 0;
   top: 10%;
  left: 5%;
   font-size: 40px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
.costom-form{
border: 15px;
border: red;
}
.overlay-text{
   padding-top: 122px;
  padding-left: 150px;
  padding-bottom: 257px;
  padding-right: 705px;
}

img{
  max-width: 100%;
}

.btn{
  background-image: linear-gradient(#D41C2C,#711746);
  border-radius: 15px;
}
.logo{
  width: 95.95px;
  height: 77px;
}
.menu{
  width: 80px;
  height: 80px;
}
.Cart{
  width: 41px;
  height: 25px;
}
.para{
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
}
.head2{
  font-weight: 400;
  font-size: 40px;
  font-family: SF Pro;
}
.para2{
 
  font-weight: 400;
  font-size: 16px;
  font-family: SF Pro;
}
.wrapper1{
  padding-top:84px ;
  padding-right:136px ;
  padding-bottom:150px;
  padding-left:84px;
}
.wrapper2{
  font-size: 26px;
}
.pro1{
  width: 360px;
  height: 559px;
}
p{
  font-size: S ;
}
/* .box{
  margin: 10px;
  padding:10px;
} */